doctype 5
html
  head
    block scripts
    script(type='text/javascript', src='/javascripts/lib/require.js', data-main='/javascripts/setup.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style="background-color:black;")
    block content